{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "no-console": 0,
    "no-mixed-operators": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-underscore-dangle": 0
  }
}
